<div id="<%= dom_id prescription %>">
  <p>
    <strong>Presdate:</strong>
    <%= prescription.presdate %>
  </p>

  <p>
    <strong>Dentist:</strong>
    <%= prescription.dentist_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= prescription.patient_id %>
  </p>

</div>
